
:root{
    user-select: none;
    --ccontol-size : 100vmin;
    --font-font-family: 'Work Sans', sans-serif;
    
}
body,html{
    margin: 0;
    height: 100%;
}
/* screen area */
.screen{
    background-color: black;
    display: flex;
    place-items: center;
    place-content: center;
    position: relative;
}
    .screen .fps{
        color: yellow;
        font-family: var(--font-font-family);
        position: absolute;
    }
    .screen .canvas{
        background-color: #25316D;
        width: 100vmin;
        height: 100vmin;
        box-sizing: border-box;
        position: relative;
    }
    .screen .canvas .player{
        background-color: aliceblue;
        width: 5%;
        height: 5%;
        position: absolute;
    }
    .screen .canvas .home{
        height: 100%;
        display: flex;
        flex-direction: column;
        place-content: center;
        place-items: center;
    }
        .screen .canvas .home ul{
            list-style: none;
        }
.logo{
    background-color: #6F38C5;
    color: rgba(255, 255, 255, 0.548);
    font-family: var(--font-font-family);
    text-align: center;
    height: 4%;
    display: flex;
    place-content: center;
    place-items: center;
    font-size: 12px;
    letter-spacing: 3px;
}
/* controller area */
.controller{
    
    display: none;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'up up shot'
                        'left right shot'
                        'down down shot';
    height: 46%;
    padding: 40% 0;
    place-content: center;
    place-items: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #87A2FB;
}

    .controller .up{
        box-sizing: border-box;
        
        grid-area: up;
        align-self: end;
    }
    .controller .left{
        grid-area: left;
       
    }
    .controller .right{
        grid-area: right;
    }
    .controller .down{
        align-self: start;
        grid-area: down;
    }
    .controller .shot{
        grid-area: shot;
    }
        .controller div span{
            border-radius: 50%;
            height: 90px;
            width: 90px;
            display: flex;
            place-content: center;
            place-items: center;
            font-size: 50px;
            font-family: var(--font-font-family);
            color: rgba(0, 0, 0, 0.541);
            background-color: #ADDDD0;
            transition: .1S;
            box-shadow: -2px -2px 6px 1px #ffffff42 , 2px 2px 0px 1px #ffffffa9 inset,-5px -5px 0px 1px #00000046 inset,5px 5px 0px 1px #0000006c;

        }

/* responsive area */
@media only screen and (max-width: 700px) {
    .screen {
      height: 50%;
    }
    .controller{
        display: grid;
    }
  }