
:root{
    --ccontol-size : 100vmin;
}
body,html{
    margin: 0;
    height: 100%;
}
.screen{
    background-color: black;
    display: flex;
    place-items: center;
    place-content: center;
    position: relative;
}

.screen .canvas{
    border: 1px solid red;
    width: 100vmin;
    height: 100vmin;
    box-sizing: border-box;
    position: relative;
}
.screen .canvas .player{
    background-color: aliceblue;
    width: 5%;
    height: 5%;
    position: absolute;
    left: 47.5%;
    top: 47.5;
}
.screen .canvas .home{
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}
.screen .canvas .home ul{
    list-style: none;
}
.controller{
    display: none;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'up up shot'
                        'left right shot'
                        'down down shot';
    gap: 10px;
    height: 50%;
    position: relative;
    place-content: center;
    place-items: center;
    overflow: hidden;
}
.controller div{
    padding: 10px;
    position: absolute;

}
.controller .up{
    background-color: blue;
    grid-area: up;
}
.controller .left{
    background-color: blue;
    grid-area: left;
}
.controller .right{
    background-color: blue;
    grid-area: right;
}
.controller .down{
    background-color: blue;
    grid-area: down;
}
.controller .shot{
    background-color: blue;
    grid-area: shot;
}
@media only screen and (max-width: 700px) {
    .screen {
      height: 50%;
    }
    .controller{
        display: grid;
    }
  }